
html, body, :global(#root) {
  height: 100%;
}
:global(.my-flex-item) button{
  margin: 5px;
}
:global(.my-flex-item) a{
  margin: 5px;
}
:global(.my-flex-item) span{
  margin-right: 5px;
}
:global(.flex-center-center){
  display: flex;
  justify-content: center;
  align-items: center;
}

